{% extends 'layout.html' %}
{% block content %}
<div id="paises">
	<h1>{{ title }}</h1>
	<p>Los paises están en continentes</p>
	<h3>Canadá</h3>
	<p>Hace frío y está en America</p>
	<h3>Rusia</h3>
	<p>Hace frío y está en Europa</p>
	<h3>Kenya</h3>
	<p>Hace calor y está en África</p>
</div>	
{% endblock %}
