<div>
    <h3>Ta te ti</h3>
    <p class="status">play</p>
    <div class="main-box">
        <div class="tateti-box">
            <div class="tateti-row">
                <div data-number="0" class="tateti-cell cell_0 free">&nbsp;</div>
                <div data-number="1" class="tateti-cell cell_1 free">&nbsp;</div>
                <div data-number="2" class="tateti-cell cell_2 free">&nbsp;</div>
            </div>
            <div class="tateti-row">
                <div data-number="3" class="tateti-cell cell_3 free">&nbsp;</div>
                <div data-number="4" class="tateti-cell cell_4 free">&nbsp;</div>
                <div data-number="5" class="tateti-cell cell_5 free">&nbsp;</div>
            </div>
            <div class="tateti-row">
                <div data-number="6" class="tateti-cell cell_6 free">&nbsp;</div>
                <div data-number="7" class="tateti-cell cell_7 free">&nbsp;</div>
                <div data-number="8" class="tateti-cell cell_8 free">&nbsp;</div>
            </div>
        </div>
        <div>
            <div class="players">
                <div class="title">Players</div>
                <div class="player">
                    <div class="name">Hardcode NN Smart</div>
                    <div class="action">
                        <input type="button" class="play" value="play" data-name="hardcodeNNSmart">
                        <div class="thinking"><img src="{{url_for('static', filename='img/loading.gif')}}"><span>AI thinking</span></div>
                    </div>
                </div>
                <div class="player">
                    <div class="name">Hardcode NN Dumb</div>
                    <div class="action">
                        <input type="button" class="play" value="play" data-name="hardcodeNNDumb">
                        <div class="thinking"><img src="{{url_for('static', filename='img/loading.gif')}}"><span>AI thinking</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/tateti.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/tateti.css')}}"></script>
