{% extends 'layout.html' %}
{% block content %}
<div id="dinos">
	<h1>{{ title }}</h1>
	<p>Los dinosaurios vivieron en los períodos triásico, cretácito y jurásico</p>
	<h3>Tyranosaurs rex</h2>
	<p>Era carnívoro, como todos lo dinosaurios, tenía plumas. Es el mas famoso de los dinosaurios</p>
	<h3>Triceratops</h3>
	<p>Era Hervívoro, vivió en el jurásico y el cretácico (ponele). Tenía 2 cuernos iguales y uno desigual</p>
</div>	
{% endblock %}
