body{
    background-color: #fee;
}
.tateti-box{
    display: inline-block;
    /*border-top: 2px solid #222;*/
    /*border-left: 2px solid #222;*/
}
.tateti-row{
    display: flex;
    flex-direction: row;
}
.tateti-cell.cross{
    background-image: url('../img/pieces.png');
    background-size: 160px 80px;
    background-position: -70px 10px;
    background-repeat: no-repeat;
}
.tateti-cell.circle{
    background-image: url('../img/pieces.png');
    background-size: 160px 80px;
    background-position: 20px 10px;
    background-repeat: no-repeat;
}
.tateti-cell{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    /*border-right: 2px solid #222;*/
    /*border-bottom: 2px solid #222;*/
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 40px;
}
.tateti-cell.free{
    cursor: pointer;
    background-color: #ccf;
}
.tateti-cell.full{
    background-color: #efe;
}
.tateti-cell.winning-line{
    background-color: #fff;
}
.main-box{
    display: flex;
    flex-wrap: wrap;
}
.players{
    padding: 10px;
}
.player{
    border: 1px solid #222;
    padding: 4px;
    background-color: #fff;
    width: 200px;
    margin-bottom: 10px;
}
.player .play{
    border: 2px dashed #222;
    cursor: pointer;
    width: 100px;
    background-color: #eef;
    font-family: verdana;
}
.player .action{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.player .thinking{
    padding-left: 3px;
    display: none;
}
.player .thinking.show{
    display: block;
}
.player .thinking span{
    font-size: 12px;
}
.player .thinking img{
    width: 13px;
    margin-right: 2px;
}
