<html>
	<head>
		<title>flask first thing</title>
		<meta charset="utf8">
	</head>
	<body>
		<ul>
			<li><a href="/dinos">Dinos</a></li>
		</ul>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
